<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group" id="c-paper_id">
        <label class="control-label col-xs-12 col-sm-2">{:__('Paper_id')}:</label>
        <div class="col-xs-12 col-sm-8">
			<input type="text" name="row[paper_id]" class="form-control selectpage"  data-source="exam/exam/getpaperlist" data-multiple="false" />
			
         </div>
    </div>

    <div class="form-group in" id="c-teams">
        <label class="control-label col-xs-12 col-sm-2">{:__('Teams')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[teams]" class="form-control selectpage"  data-source="exam/exam/getteamlist" data-multiple="true" />
        </div>

    </div>

    <div class="form-group in" id="c-users">
        <label class="control-label col-xs-12 col-sm-2">{:__('Users')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" name="row[users]" class="form-control selectpage"  data-source="exam/exam/getuserlist" data-multiple="true"  />
        </div>

    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Starttime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-starttime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[starttime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('State')}:</label>
        <div class="col-xs-12 col-sm-8">
		    {:build_select('row[state]',$stateList,null,['class'=>'form-control selectpicker', 'disabled'=>"disabled"]);}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Memo')}:</label>
        <div class="col-xs-12 col-sm-8">
      		 <textarea id="c-memo" class="form-control " rows="3" name="row[memo]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
